html{
    text-align: center;
    background-color: brown;
}

img{
    height: 30%;
    width: 15%;
    margin: 50px;
}

button{
    background-color: green;
    box-shadow: 2px 2px;
    border: solid 2px black;
    padding: 20px;
    font-weight: bold;
}