body {
    background-color: #1C345E;
}

a:link {
    color: #56C3CB;
}

.colored {
    color: #5961C8;
}

#redBox {
    display: inline-block;
    background-color:#CE3036;
    height:80px;
    width:1165px;
    border-radius: 10px;
}

.jsBasics {
    text-align: left;
    color: white;
    position: absolute;
    top: 5px;
    left: 25px;
}

#blueBox {
    display: inline;
    background-color: #2A7D8C;
    height:245px;
    width:235px; 
    border-radius: 10px;
    position: absolute;
    top: 110px;
    right: 1100px;
}

#links {
    position: absolute;
    top: 20px;
    left: 20px;
}

#list {
    position: relative;
    bottom: 15px;
    left: -20px;
}

.links2 {
    position: relative;
    left: -20px;
}

#darkBlue {
    display: inline;
    background-color: #0E1822;
    height: 500px;
    width: 900px; 
    border-radius: 10px;
    position: absolute;
    top: 110px;
    left: 270px;
}

#paragraph {
    color: white;
    position: absolute;
    top: 50px;
    left: 20px;
}

#bullets {
    color: white;
    position: relative;
    top: 100px;
}

#greyBox {
    color: white;
    display: block;
    background-color: #5E6673;
    height:50px;
    width:1165px;
    border-radius: 10px;
    position: absolute;
    top:630px;
}

#info {
    position: relative;
    left: 20px;
}